<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(contact) -%>">
  <span class='title'>
    <%= contact.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.directory_contact_path(contact),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_directory_admin_contact_path(contact),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.directory_admin_contact_path(contact),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => contact.name),
        :method => :delete %>
  </span>
</li>