<%= form_for [refinery, :directory_admin, @contact] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @contact,
              :include_object_name => true %>


  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>

  <div class='field'>
    <%= f.label :city -%>
    <%= f.text_field :city  -%>

  </div>

  <div class='field'>
  <label for="contact_category_ids_">Categories</label>
  <% for category in Refinery::Directory::Category.all %>
    <div>
      <%= check_box_tag "contact[category_ids][]", category.id, @contact.categories.include?(category) %>
      <%= category.title %>
    </div>
  <% end %>
  </div>

  <div class='field'>
    <%= f.label :state -%>
    <%= f.text_field :state  -%>

  </div>

  <div class='field'>
    <%= f.label :zip_code -%>
    <%= f.text_field :zip_code  -%>

  </div>

  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address  -%>

  </div>

  <div class='field'>
    <%= f.label :logo -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :logo_id,
               :image => @contact.logo,
               :toggle_image_display => false %>

  </div>

  <div class='field'>
    <%= f.label :phone -%>
    <%= f.text_field :phone  -%>

  </div>

  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email  -%>

  </div>

  <div class='field'>
    <%= f.label :contact -%>
    <%= f.text_field :contact  -%>

  </div>

  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:info].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/directory/contact", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:info].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class='field'>
    <%= f.label :abstract -%>
    <%= f.text_area :abstract  -%>

  </div>

  <div class='field'>
    <%= f.label :web -%>
    <%= f.text_field :web  -%>

  </div>

  <div class='field'>
    <%= f.label :facebook -%>
    <%= f.text_field :facebook  -%>

  </div>

  <div class='field'>
    <%= f.label :twitter -%>
    <%= f.text_field :twitter  -%>
  </div>

  <div class='field'>
    <%= f.label :tag_list -%>
    <%= f.text_field :tag_list, :class => 'larger' -%>
  </div>

  <%= f.hidden_field :user_id, current_refinery_user.id %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.contacts.admin.contacts.contact'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @contact.name) %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
